<launch>
    <include file="$(find astra_camera)/launch/astra.launch"/>
    <include file="$(find darknet_ros)/launch/darknet_ros.launch">
        <param name="yolo_model/threshold/value" value="0.7"/>
    </include>
    <node pkg="vision" type="pcl_conv_node" name="pcl_conv_node" output="screen"/>
    <node pkg="vision" type="middleware_node" name="middleware_node" output="screen"/>
    <node pkg="vision" type="pcl_util_service" name="pcl_util_service" output="screen"/>
</launch>